text.barChartLabel  {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 12pt;
}
text.barChartLabel.valueQualifiersSmall  {
    font-size: 12pt;
}
text.rightBarChartLabel{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14pt;
    text-anchor: start;
}
text.barSubChartLabel  {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 12pt;
    stroke: #aaaaaa;
    fill: #aaaaaa;
}
text.barSubChartLabel.valueQualifiersSmall  {
    font-weight: 300;
    font-size: 10pt;
}
text.valueLabels  {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14pt;
    color: #4682b4;
    stroke: #052090;
    fill: #052090;
}
text.valueLabels.valueQualifiersSmall  {
    font-size: 12pt;
}
text.valueQualifiers  {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14pt;
    stroke: #aaaaaa;
    fill: #aaaaaa;
}
text.valueQualifiers.valueQualifiersSmall  {
    font-weight: 400;
    font-size: 10pt;
}
text.clickableQuestionMark  {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 12pt;
    background: #ff0000;
    stroke: #ffffff;
    fill: #ffffff;
}
circle.clickableQuestionMark  {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 14pt;
    stroke: #4682b4;
    fill: #4682b4;
}
.xaxis  {
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 14pt;
    stroke: #aaaaaa;
    fill: #aaaaaa;
}
rect.h-bar {
    stroke: white;
    fill: #052090;
}
.legend{
    border: 1px solid black;
}
.legendTitle{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 12pt;
    font-style: italic;
    text-anchor: middle;
}
rect.legendHolder  {
    fill:white;
    stroke:black;
    opacity:0.8;
}
.legendStyling {
    font-size: 9pt;
 }
.legendStyling0 {

    display: none;
}
.legendStyling1 {
    font-size: 8pt;
    fill:#955a9e;
}
.legendStyling2 {
    font-size: 8pt;
    fill: #a83e49;
}
.legendStyling3 {
    font-size: 8pt;
    fill: #f5b338;
}
.legendStyling4 {
    display: none;
}
.legendStyling5 {
    display: none;
}
.legendStyling6 {
    display: none;
}
.legendStyling7 {
    display: none;
}
rect.barstyling0 {
    display: none;
}
rect.barstyling1 {
    fill:#955a9e;
}
rect.barstyling2 {
    fill: #a83e49;
}
rect.barstyling3 {
    fill: #f5b338;
}
rect.barstyling4 {
    display: none;
    fill: #052090;
}
rect.barstyling5 {
    fill:#955a9e;
}
rect.barstyling6 {
    fill: #a83e49;
}
rect.barstyling7 {
    fill: #f5b338;
}

#xaxis text text {
    font-size: 12px;
}
div.barchartFormatter {
    width: 800px;
}
div.significanceDescriptorFormatter {
    width: 100px;
}
div.significantDifference {
    width: 150px;
    height: 140px;
    background:  #052090;
    font-size: 14pt;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    margin: 0 0 1px;
}
div.significantDifferenceText {
    padding-top: 20px;
    font-size: 14pt;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    margin: 0 0 1px;
}
.standardFont  {
    font-size: 14pt;
}
.standardEmphasisFont  {
    font-size: 14pt;
}
.slimDescription {
    margin: 0 0 1px;
}
span.bhtLossOfFunctionVariants {
    text-decoration: underline;
}
