body {
    font-family: "Open Sans" Arial, sans-serif;
}

.box {
    font: 10px sans-serif;
    padding : 20px;
}

.box line,
.box rect,
.box circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.box .center {
    stroke-dasharray: 3,3;
}

.box .outlier {
    fill: #f00;
    stroke: #111;
}
.box .selectedCircle {
    fill: #ff0;
    stroke: #00f;
    stroke-width: 2px;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 180, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.box .y .domain {
    fill: none;
    stroke: #000;
    stroke-width: 1.2px;
    shape-rendering: crispEdges;
}
.box .x .domain {
    display: none;
}
.box .x .tick {
    display: none;
}
.box .x .label {
    font-family: "Lato" Arial, sans-serif;
    font: 10px sans-serif;
    padding : 20px;
}

.axis text {
    font-size: 10pt;
}
.label {
    font-size: 14pt;
    font-weight: bold;
}
.legend {
    font-size: 10pt;
}
.boxWhiskerLabel{
    font-family: "Lato" Arial, sans-serif;
    font: 10px sans-serif;
    padding : 20px;
}
.boxAround {
    border: 2px outset #777;
    width: 100%;
    margin: 4px;
    padding: 5px;
}
.outlierRadiusDiv {
    border: 2px outset #777;
    width: 100%;
    margin-left: 10px;
}
.outlierRadiusDiv .outlierRadiusLabel {
    font-family: "Lato" Arial, sans-serif;
    font-size: 9pt;
    margin-left:5px;
    padding-top:10px;
    font-weight: bold;
    text-decoration : underline;
}
#outlierRadius {
    padding-left: 2px;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 2px;
}
#outlierRadius .options {
    font-size: 7pt;
}
#slider {
    posirion: relative;
    /*padding-left: 40px;*/
    /*border: 2px outset #777;*/
    /*margin-top: 4px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*padding-left: 40px;*/
    /*padding-bottom: 50px;*/
    /*padding-top: 50px;*/
    /*padding-right: 40px*/
}
.whiskerRelatedLabel   {
    padding: 0 10px 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
.outlierRadiusLabel   {
    padding: 0 10px 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
.histogramBarLabel   {
    padding: 0 10px 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
.boxWhiskerControllerLabel {
    font-size: 16px;
    margin: auto;
    font-weight: bold;
    padding: 10px 0 10px 35px;
}
.controlSwitcher {
    overflow: hidden;
    position: absolute;
}
.histogramRelatedControls  {
    top: 0px;
    position: relative;
}
.outlierRelatedControls  {
    top: 0px;
    position: relative;
}
.histogramRelatedControls  {
    top: 0px;
     position: relative;
 }
.funcExtender {
    padding: 15px 0 0 0;
    color: green;
    font-size: 20px;
    display: inline-block;
    padding-top: 5px;
}
label.checkboxHolder{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    margin: auto;
}
label.checkboxHolder input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -4px;
    *overflow: hidden;
}
#correlationPlotLayout {
    width: 450px;
}
#correlationPlotControllers {
    width: 100px;
}
.boxWhiskerControls {
    width: 100%;
    margin: 5px;
    padding: 5px;
}
#correlationPlotControllers .iqmLabel {
    font-family: "Lato" Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

#scatterPlotCloser  {
    font-family: "Lato" Arial, sans-serif;
    font-size: 1.5em;
    padding: 4px;
    text-decoration: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 3px solid #800000;
    background: #eeeeee;
}
