div.multipleElementScrolledBox {
    float:left;
    width:250px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
    border: 1px solid black;
}
div.contextHolder{
    border: 1px solid black;
}


.dataTables_wrapper {
    overflow: auto;
    padding: 80px 20px 20px 20px;
    border: solid 1px #fff;
}

.dataTables_wrapper.dk-zoom-0, .dataTables_wrapper.dk-zoom-0 .btn { font-size: 14px; }
.dataTables_wrapper.dk-zoom-1, .dataTables_wrapper.dk-zoom-1 .btn { font-size: 12px; }
.dataTables_wrapper.dk-zoom-2, .dataTables_wrapper.dk-zoom-2 .btn { font-size: 10px; }
.dataTables_wrapper.dk-zoom-3, .dataTables_wrapper.dk-zoom-3 .btn { font-size: 8px; }

.dataTables_wrapper tbody th, .dataTables_wrapper tbody td { padding: 8px 10px; outline: none; border:none; border-top: solid 1px #ccc; border-right: solid 1px #ccc; }
.dataTables_wrapper.dk-zoom-0 tbody th, .dataTables_wrapper.dk-zoom-0 tbody td { padding: 8px 10px; outline: none; border-top: solid 1px #ccc; border-right: solid 1px #ccc; }
.dataTables_wrapper.dk-zoom-1 tbody th, .dataTables_wrapper.dk-zoom-1 tbody td { padding: 6px 7px; outline: none; border-top: solid 1px #ccc; border-right: solid 1px #ccc;  }
.dataTables_wrapper.dk-zoom-2 tbody th, .dataTables_wrapper.dk-zoom-2 tbody td { padding: 4px 5px; outline: none; border-top: solid 1px #ccc; border-right: solid 1px #ccc;  }
.dataTables_wrapper.dk-zoom-3 tbody th, .dataTables_wrapper.dk-zoom-3 tbody td { padding: 3px 4px; outline: none; border-top: solid 1px #ccc; border-right: solid 1px #ccc;  }

.dataTables_wrapper thead th, .dataTables_wrapper thead td { padding: 10px 18px; outline: none; border:none; border-top: solid 1px #ccc; border-right: solid 1px #ccc; }
.dataTables_wrapper.dk-zoom-0 thead th, .dataTables_wrapper.dk-zoom-0 thead td { padding: 10px 18px; }
.dataTables_wrapper.dk-zoom-1 thead th, .dataTables_wrapper.dk-zoom-1 thead td { padding: 10px 18px; }
.dataTables_wrapper.dk-zoom-2 thead th, .dataTables_wrapper.dk-zoom-2 thead td { padding: 10px 18px; }
.dataTables_wrapper.dk-zoom-3 thead th, .dataTables_wrapper.dk-zoom-3 thead td { padding: 10px 18px; }