div.multipleElementScrolledBox {
    float:left;
    width:250px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
    border: 1px solid black;
}
div.contextHolder{
    border: 1px solid black;
}


.dataTables_wrapper {
    overflow: auto;
    padding: 80px 20px 20px 20px;
    border: solid 1px #fff;
}

.dataTables_wrapper.dk-zoom-0, .dataTables_wrapper.dk-zoom-0 .btn { font-size: 14px; }
.dataTables_wrapper.dk-zoom-1, .dataTables_wrapper.dk-zoom-1 .btn { font-size: 12px; }
.dataTables_wrapper.dk-zoom-2, .dataTables_wrapper.dk-zoom-2 .btn { font-size: 10px; }
.dataTables_wrapper.dk-zoom-3, .dataTables_wrapper.dk-zoom-3 .btn { font-size: 8px; }

.dataTables_wrapper tbody th, .dataTables_wrapper tbody td { padding: 8px 10px; outline: none; border:none; border-top: solid 1px #ccc; border-right: solid 1px #ccc; }
.dataTables_wrapper.dk-zoom-0 tbody th, .dataTables_wrapper.dk-zoom-0 tbody td { padding: 8px 10px; outline: none; border-top: solid 1px #ccc; border-right: solid 1px #ccc; }
.dataTables_wrapper.dk-zoom-1 tbody th, .dataTables_wrapper.dk-zoom-1 tbody td { padding: 6px 7px; outline: none; border-top: solid 1px #ccc; border-right: solid 1px #ccc;  }
.dataTables_wrapper.dk-zoom-2 tbody th, .dataTables_wrapper.dk-zoom-2 tbody td { padding: 4px 5px; outline: none; border-top: solid 1px #ccc; border-right: solid 1px #ccc;  }
.dataTables_wrapper.dk-zoom-3 tbody th, .dataTables_wrapper.dk-zoom-3 tbody td { padding: 3px 4px; outline: none; border-top: solid 1px #ccc; border-right: solid 1px #ccc;  }

.dataTables_wrapper thead th, .dataTables_wrapper thead td { padding: 10px 18px; outline: none; border:none; border-top: solid 1px #ccc; border-right: solid 1px #ccc; }
.dataTables_wrapper.dk-zoom-0 thead th, .dataTables_wrapper.dk-zoom-0 thead td { padding: 10px 18px; }
.dataTables_wrapper.dk-zoom-1 thead th, .dataTables_wrapper.dk-zoom-1 thead td { padding: 10px 18px; }
.dataTables_wrapper.dk-zoom-2 thead th, .dataTables_wrapper.dk-zoom-2 thead td { padding: 10px 18px; }
.dataTables_wrapper.dk-zoom-3 thead th, .dataTables_wrapper.dk-zoom-3 thead td { padding: 10px 18px; }

div.openMetaXcanInGeneTable {
    font-size: 10px;
}

div.openDepictInGeneTable {
    font-size: 10px;
}
div.openEqtlInGeneTable{
    font-size: 10px;
}
div.openAbcInGeneTable{
    font-size: 10px;
}
a.cellExpander {
    text-decoration: underline;
}
a.top-level {
    font-size: 22px;
}
body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.dk-new-ui-data-wrapper {
    position: absolute;
    top: 100px;
    left:100px;
    background-color: #ddd;
    padding: 5px;
    border: solid 1px #bbb;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px 0 #ddd;
    -webkit-box-shadow: 3px 3px 3px 0 #ddd;
    box-shadow: 3px 3px 3px 0 #ddd;
}
.dk-new-ui-data-wrapper > .content-wrapper {
    background-color: #fff;
    padding: 5px;
    width: 200px;
    height: 300px;
    overflow:auto;
    font-size: 12px;
}

#dynamicGeneHolder > div.row { background-color: #fff !important; border: none !important; }
div.datatable-control-box { float: right; padding: 30px 10px 15px 0px; }
div.datatable-transpose-control, div.datatable-cell-color-control, div.datatable-zoom-control { float: left; padding-left: 15px; }
div.datatable-transpose-control div.tool-label, div.datatable-cell-color-control div.tool-label, div.datatable-zoom-control div.tool-label { font-size: 12px; color: #666; text-align: center; padding-bottom: 5px; padding-bottom: 5px; }

div.datatable-transpose-control button.btn.btn-secondary, div.datatable-cell-color-control button.btn.btn-secondary, .datatable-zoom-control button.btn.btn-secondary { padding: 5px 20px 5px 20px; font-size: 0.88em; border-radius: 20px; border:solid 1px #ccc; }

div.datatable-transpose-control button:focus, div.datatable-cell-color-control button:focus, .datatable-zoom-control button:focus { outline:0; }

.datatable-zoom-control button.btn.btn-secondary { padding: 5px 8px 5px 8px; }

div.datatable-cell-color-control button.first-btn { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }

div.datatable-cell-color-control button.last-btn { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; }

div.datatable-cell-color-control button.significance { background-color: #99d6ff }
div.datatable-cell-color-control button.tissues { background-color: #ffdf80 }
div.datatable-cell-color-control button.active { -moz-box-shadow: inset 1px 1px 4px #666666; -webkit-box-shadow: inset 1px 1px 4px #666666; box-shadow: inset 1px 1px 4px #666666; }

.variantTableLabels { margin: 0 2px !important; }
#dynamicGeneHolder div.dt-buttons { margin-top: 10px !important }

#dynamicGeneHolder .paginate_button.current { padding: 5px 20px 5px 20px; font-size: 0.88em; border-radius: 20px; border:solid 1px #ccc; }

table.combinedGeneTableHolder a:hover { cursor:pointer; }

#highImpactTemplateHolder_wrapper.dataTables_wrapper { padding: 20px 20px 20px 20px; }
#highImpactTemplateHolder_wrapper div.dt-buttons { margin-bottom: 15px; }

table.combinedGeneTableHolder td.sorting_1{

}

table.combinedGeneTableHolder {
    border-left: solid 1px #ccc;
}

table.combinedGeneTableHolder th.geneHeader{
    background-position-x: right;
    background-position-y: 30px;
}

table.combinedGeneTableHolder th.categoryName{
    background-position-x: right;
    background-position-y: 35px;
}

.glyphicon.glyphicon-step-backward {
    font-size: 10px;
    color:lightblue;
}
.glyphicon.glyphicon-step-forward {
    font-size: 10px;
    color:lightblue;
}
div.geneAnnotationShifters{
    padding: 0;
    margin: 0;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0px;
    padding-top: 13px;
    color: #ccc;
    background-image: url("../images/D_a_D.png");
    background-repeat: no-repeat;
    background-position: right top;
}
div.geneHeaderShifters{
    padding: 0;
    margin: 0;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0px;
    padding-top: 10px;
    color: #ccc;
    background-image: url("../images/D_a_D.png");
    background-repeat: no-repeat;
    background-position: right top;
}

div.geneAnnotationShifters span.glyphicon-step-forward, div.geneHeaderShifters span.glyphicon-step-forward {
    color: #ccc;
}

div.geneAnnotationShifters span.glyphicon-step-backward, div.geneHeaderShifters span.glyphicon-step-backward {
    margin-right: -4px;
    color: #ccc;
}

span.displayGeneName{
    color: black;
    font-weight: bold;
}
.dynamicUiHolder { width: 100%; overflow: auto; border-right:solid 1px #70cAdB; border-left:solid 1px #70cAdB; }

.dynamicUiHolder table { margin: 0 !important; }

.dynamicUiHolder th, .dynamicUiHolder td { outline: none !important; border: solid 1px #70cAdB !important;}

.chromatinConformationChooser.active > a {background-color: #eee !important;}

a.nav-link.sub-tab { background-color: #5cb85c;}
a.nav-link.sub-tab:hover { background-color: #449d44;}

#exposeDynamicUiTabHolder > .row { border:solid 1px #ddd; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; margin-top: -1px; background-color: #eee;}
#exposeDynamicUiTabHolder > .row.sub-tabs { border: solid 1px #ddd;border-top:  none;border-bottom:  none; background-color: #eee; }
.sub-tab-content > .tab-pane > .row { border: solid 1px #ddd; border-top:  none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; margin-top: -20px;}
.sub-tab-content > .tab-pane.active > .row { background-color: #eee; padding: 20px 5px 20px 5px !important;}
.sub-tab-content > .tab-pane > .row > .sub-content { background-color: #fff; padding-bottom: 10px; margin-top: -20px; margin-bottom: -15px; }
.sub-tab-content h3 { }
div.contextHolder { border: solid 1px #aaa !important; padding: 5px; background-color: #fff;}
table.expandableDrillDownTable{
    border: 0;
}
td.leftMostCol{
    padding: 3px;
    border-left: 0px;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
td.otherCols{
    padding: 3px;
    border-right: 0px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
td.onlyCol{
    padding: 3px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
th.leftMostCol{
    border-top: 0;
    border-left: 0;
    font-weight: bold;
}
th.otherCols{
    border-top: 0;
    border-left: 1px solid black;
    font-weight: bold;
}
th.onlyCol{
    border-top: 0;
    border-bottom: 1px solid black;
    border-left: 0;
    border-right: 0;
    font-weight: bold;
}