.trafficExplanations {
    margin: 8px 0 10px 0;
    /*font-family: "Times New Roman", Times, serif;*/
    font-style: normal;
    font-size: 24px;
    font-weight: 100;
}
.interestingPhenotypesHolder{
    margin: 30px 30px 0 0;
    padding: 20px 30px 10px 0;
    border: 0.5px solid gray;
    display: none;
}
#dropdownCommonVariantDsButton{
    margin: 0 0 0 8px;
}
#dropdownHighImpactVariantMenuButton {
    margin: 0 0 0 8px;
}
.highImpactVariantVRTLink {
    text-decoration: underline;
    cursor: pointer;
}
.commonVariantVRTLink {
    text-decoration: underline;
    cursor: pointer;
}
#phenotypeLabel{
    display: none;
    font-size: 16px;
    font-weight: bold;
}
#burdenGoesHere .panel-group{
    margin-right: 42px;
}
a.dataset-item{
    display: block;
}
#burdenGoesHere .secBody {
    padding-right: 40px;
}
#burdenGoesHere .burden-test-specific-results{
    margin-right: 40px;
}
.trafficExplanations.emphasize {
    font-weight: 900;
}
.trafficExplanations.unemphasize {
    font-weight: normal;
}
.morePhenos{
    margin-top: 5px;
    text-decoration: underline;
}
.noMorePhenos {
    margin-top: 5px;
    text-decoration: underline;
}
a.morePhenos:hover {
    background: rgba(0,0,0,.5);
}
.phenotypeStrength {
    cursor:pointer;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid #000000;
    font-size:14px;
}
.chosenPhenotype{
    font-weight: bold;
    /*border: 2px solid #000000;*/
    /*font-size:18px;*/
    /*padding: 8px;*/
}
.variantTableLabels {
    font-size:16px;
}
.variantTableLabels.active{
    font-weight:bold;
    color: #000000;
}
.redPhenotype {
    background-color: #dddddd;
}
.nav>li.redPhenotype {
    display: none;
}
.yellowPhenotype {
    background-color: #ffffb3;
}
.greenPhenotype {
    background-color: #ccffcc;
}
.credibleSetChooserStrength {
    cursor:pointer;
    margin: 10px;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid #000000;
    font-size:14px;
}
.credibleSetChooserStrength.active {
    border: 2px solid black;
}
.credibleSetChooserStrength.inactive {
    border: 1px solid black;
}

td.credSetOrgLabel{
  width: 2px;
}
td.credSetConstLabel{
    width: 180px;
}
.credibleSetChooserButton {
    background-color: #ccffff;
}
tr.redline {
    /*   background-color: #ffb3b3;*/
}
table.dataTable tbody tr.yellowline {
    background-color: #ffffb3;
}
table.dataTable tbody tr.greenline {
    background-color: #ccffcc;
}
.signalSummaryDisplay{
    margin: 6px 0 0 0;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
.linkEmulator{
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
    color: #588fd3;
}
.boxOfVariants {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
div.variantCategoryLabel{
    margin-left:20px;
}
span.aggregatingVariantsColumnHeader {
    font-weight: bold;
}
ul.aggregatingVariantsLabels>li {
    padding: 18px 0 0 0;
    font-weight: bold;
}
ul.aggregatingVariantsLabels {
    list-style-type: none;
    padding: 18px 0 0 0;
}
.aggregateVariantsDescr {
    font-size: 12px;
}
.aggregateVariantsDescr+li {
    list-style-type: none;
    font-size: 11px;
}
.specialTitle {
    font-weight: bold;
}
div.variantBoxHeaders {
    padding: 10px;
    font-size: 16px;
}
.igvGoesHere {
    background-color: white;
    margin-top: 10px;
    padding: 5px;
}
.locusZoomLocation{
    background-color: white;
    margin-top: 10px;
    padding: 5px;
}
.variantCategoryHolder {
    /*border-top: 1px solid black;*/
    /*margin: 12px 0 15px 0;*/
}
table.dataTable,
table.dataTable th,
table.dataTable td {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
