.trafficExplanations {
    margin: 8px 0 10px 0;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 100;
}
.interestingPhenotypesHolder{
    margin: 30px 30px 0 0;
    padding: 20px 30px 10px 0;
    border: 0.5px solid gray;
    display: none;
}
#phenotypeLabel{
    font-size: 32px;
    font-weight: bold;
}
#burdenGoesHere .panel-group{
    margin-right: 42px;
}
#burdenGoesHere .secBody {
    padding-right: 40px;
}
#burdenGoesHere .burden-test-specific-results{
    margin-right: 40px;
}
.trafficExplanations.emphasize {
    font-weight: 900;
}
.trafficExplanations.unemphasize {
    font-weight: normal;
}
.morePhenos{
    margin-top: 5px;
    text-decoration: underline;
}
.noMorePhenos {
    margin-top: 5px;
    text-decoration: underline;
}
a.morePhenos:hover {
    background: rgba(0,0,0,.5);
}
.phenotypeStrength {
    cursor:pointer;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
div.dataTables_scrollHeadInner table.dataTable thead tr.niceHeaders {
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    border-bottom: 1px solid #8AB8E6;
    color: #000;
    text-decoration: none;
    cursor: pointer;

    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0F4FC', endColorstr='#9BC5F4'); !* for IE *!*/
    background: -webkit-gradient(linear, left top, left bottom, from(#E0F4FC), to(#9BC5F4)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #E0F4FC, #9BC5F4); /* for firefox 3.6+ */
}
div.dataTables_scrollHeadInner table.dataTable thead tr.niceHeaders th {
    padding-left: 18px;
    background-position: center left;
}
.chosenPhenotype{
    font-weight: bold;
}
.redPhenotype {
    background-color: #dddddd;
}
.nav>li.redPhenotype {
    display: none;
}
.yellowPhenotype {
    background-color: #ffffb3;
}
.greenPhenotype {
    background-color: #ccffcc;
}
tr.redline {
    /*   background-color: #ffb3b3;*/
}
table.dataTable tbody tr.yellowline {
    background-color: #ffffb3;
}
table.dataTable tbody tr.greenline {
    background-color: #ccffcc;
}
.signalSummaryDisplay{
    margin: 6px 0 0 0;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
.linkEmulator{
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
    color: #588fd3;
}
.boxOfVariants {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
div.variantCategoryLabel{
    margin-left:20px;
}
span.aggregatingVariantsColumnHeader {
    font-weight: bold;
}
ul.aggregatingVariantsLabels>li {
    padding: 18px 0 0 0;
    font-weight: bold;
}
ul.aggregatingVariantsLabels {
    list-style-type: none;
    padding: 18px 0 0 0;
}
.aggregateVariantsDescr {
    font-size: 12px;
}
.aggregateVariantsDescr+li {
    list-style-type: none;
    font-size: 11px;
}
.specialTitle {
    font-weight: bold;
}
div.variantBoxHeaders {
    padding: 10px;
    font-size: 16px;
}
.igvGoesHere {
    background-color: white;
    border: inset 1px grey;
    margin-top: 10px;
    padding: 5px;
}
.locusZoomLocation{
    background-color: white;
    border: inset 1px grey;
    margin-top: 10px;
    padding: 5px;
}
.variantCategoryHolder {
    border-top: 1px solid black;
    margin: 12px 0 15px 0;
}
