div.dataTables_scrollHeadInner table.dataTable thead tr.niceHeaders {
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    border-bottom: 1px solid #8AB8E6;
    color: #000;
    text-decoration: none;
    cursor: pointer;

    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0F4FC', endColorstr='#9BC5F4'); !* for IE *!*/
    background: -webkit-gradient(linear, left top, left bottom, from(#E0F4FC), to(#9BC5F4)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #E0F4FC, #9BC5F4); /* for firefox 3.6+ */
}
div.dataTables_scrollHeadInner table.dataTable thead tr.niceHeaders th {
    padding-left: 18px;
    background-position: center left;
}
div.dataTable th.niceHeaders {
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    border-bottom: 1px solid #8AB8E6;
    color: #000;
    text-decoration: none;
    cursor: pointer;

    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0F4FC', endColorstr='#9BC5F4'); !* for IE *!*/
    background: -webkit-gradient(linear, left top, left bottom, from(#E0F4FC), to(#9BC5F4)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #E0F4FC, #9BC5F4); /* for firefox 3.6+ */
}
select.hdrFilter{
    margin: 2px 0 0 10px;
}
#functionalDataTableGoesHere_wrapper div.dt-buttons{
    float: right;
}
