g.row>g.cell.notChosen {
    fill: #ffffff;
}
g.row.Active_transcription_start_site>g.cell.chosen {
    fill: #ff0000;
}
g.row.Weak_transcription_start_site>g.cell.chosen {
    fill: #ff4500;
}
g.row.Flanking_transcription_start_site>g.cell.chosen {
    fill: #ff4500;
}
g.row.Strong_transcription>g.cell.chosen {
    fill: #008000;
}
g.row.Weak_transcription>g.cell.chosen {
    fill: #006400;
}
g.row.Genic_enhancer>g.cell.chosen {
    fill: #c2e105;
}
g.row.Active_enhancer_1>g.cell.chosen {
    fill: #FFC34D;
}
g.row.Active_enhancer_2>g.cell.chosen {
    fill: #FFC34D;
}
g.row.Weak_enhancer>g.cell.chosen {
    fill: #ffff00;
}
g.row.Bivalent_poised_transcription_start_site>g.cell.chosen {
    fill: #cd5c5c;
}
g.row.Repressed_polycomb>g.cell.chosen {
    fill: #808080;
}
g.row.Weak_repressed_polycomb>g.cell.chosen {
    fill: #c0c0c0;
}
g.row.Quiescent_low_signal>g.cell.chosen {
    fill: #dddddd;
}
