
.line .crosshair {
    fill: none;
    stroke-width: 1px;
}
.line #crosshairX {
    stroke: red;
}
.line #crosshairY {
    stroke: blue;
}
.line .indexPosition {
    fill: none;
    stroke-width: 1px;
}
.line #indexPosition {
    stroke: green;
}
.rect .regionRect {
    fill: green;
    stroke-width: 1px;
    opacity: 0.2;
}
.overlay {
    fill: none;
    stroke: black;
    pointer-events: all;
    stroke-width: 1px;
}
svg {
    shape-rendering: crispEdges;
}
g.row.Active_transcription_start_site>g.element>rect {
    fill: #ff0000;
}
g.row.Weak_transcription_start_site>g.element>rect {
    fill: #ff8c1a;
}
g.row.Flanking_transcription_start_site>g.element>rect {
    fill: #ff8c1a;
}
g.row.Strong_transcription>g.element>rect {
    fill: #00e600;
}
g.row.Weak_transcription>g.element>rect {
    fill: #006400;
}
g.row.Genic_enhancer>g.element>rect {
    fill: #c2e105;
}
g.row.Active_enhancer_1>g.element>rect {
    fill: #FFC34D;
}
g.row.Active_enhancer_2>g.element>rect {
    fill: #FFC34D;
}
g.row.Weak_enhancer>g.element>rect {
    fill: #ffff00;
}
g.row.Bivalent_poised_transcription_start_site>g.element>rect {
    fill: #994d00;
}
g.row.Repressed_polycomb>g.element>rect {
    fill: #808080;
}
g.row.Weak_repressed_polycomb>g.element>rect {
    fill: #c0c0c0;
}
g.row.Quiescent_low_signal>g.element>rect {
    fill: #dddddd;
}
