.present {
    background-color: #555555;
}
.absent {
    background-color: #ffffff;
    border-bottom: solid 1px black !important;
}
span.fakelink {
    font-weight: normal;
    cursor: pointer;
    text-decoration: underline;
    color: #588fd3;
}
th.headersWithVarIds{
    font-weight: normal;
}
th.headersWithVarIds.active {
    font-weight: bold;
}
div.variantIntersectionChoice{
    margin: 0 0 100px 0;
}
td.tissueTable.Active_TSS{
    background: #0000FF;
}
td.tissueTable.Weak_TSS{
    background: #4682B4;
}
td.tissueTable.Genic_enhancer{
    background: #1E90FF;
}
td.tissueTable.Active_enhancer_1{
    background: #87CEFA;
}
td.tissueTable.Active_enhancer_2{
    background: #B0E0E6;
}
td.tissueTable.Weak_enhancer{
    background: #E6E6FA;
}


td.tissueTable.matchingRegion3_0{

}
td.tissueTable.matchingRegion3_1{
    background: #FF0000;/*Active_TSS*/
}
td.tissueTable.matchingRegion3_2{
    background: #FF8C1A;/*Weak_TSS*/
}
td.tissueTable.matchingRegion3_3{
    background: #FF8C1A;/*Flanking_TSS*/
}
td.tissueTable.matchingRegion3_5{
    background: #00E600;/*Strong_transcription*/
}
td.tissueTable.matchingRegion3_6{
    background: #006400;/*Weak_transcription*/
}
td.tissueTable.matchingRegion3_8{
    background: #C2E105;/*Genic_enhancer*/
}
td.tissueTable.matchingRegion3_9{
    background: #FFC34D;/*Active_enhancer_1*/
}
td.tissueTable.matchingRegion3_10{
    background: #FFC34D;/*Active_enhancer_2*/
}
td.tissueTable.matchingRegion3_11{
    background: #FFFF00;/*Weak_enhancer*/
}
td.tissueTable.matchingRegion3_14{
    background: #994D00;/*Bivalent/poised_TSS*/
}
td.tissueTable.matchingRegion3_16{
    background: #808080;/*Repressed_polycomb*/
}
td.tissueTable.matchingRegion3_17{
    background: #C0C0C0;/*Weak_repressed_polycomb*/
}
td.tissueTable.matchingRegion3_18{
    background: #DDDDDD;/*Active_enhancer_2*/
}
td.tissueTable.matchingRegion3_1{
    background: #FFFF00;/*Weak_enhancer*/
}
td.tissueTable.matchingRegion3_2{
    background: #C2E105;/*Genic_enhancer*/
}
td.tissueTable.matchingRegion3_3{
    background: #FFC34D;/*Active_enhancer_1*/
}
td.tissueTable.matchingRegion3_4{
    background: #FFC34D;/*Active_enhancer_2*/
}
td.tissueTable.matchingRegion3_5{
    background: #FF0000;/*Active_enhancer_2*/
}

/*h3k27ac corresponds to assay ID = 1*/
td.tissueTable.matchingRegion1_5{
    background: #FF0033;
}
td.tissueTable.matchingRegion1_4{
    background: #FF3333;
}
td.tissueTable.matchingRegion1_3{
    background: #FF6633;
}
td.tissueTable.matchingRegion1_2{
    background: #FF9933;
}
td.tissueTable.matchingRegion1_1{
    background: #FFCC33;
}
td.tissueTable.matchingRegion1_0{
    background: #FFFF33;
}

/*DNase corresponds to assay ID = 2*/
td.tissueTable.matchingRegion2_5{
    background: #3333FF;
}
td.tissueTable.matchingRegion2_4{
    background: #3366FF;
}
td.tissueTable.matchingRegion2_3{
    background: #3399FF;
}
td.tissueTable.matchingRegion2_2{
    background: #3399FF;
}
td.tissueTable.matchingRegion2_1{
    background: #33CCFF;
}
td.tissueTable.matchingRegion2_0{
    background: #33FFFF;
}
th.niceHeadersThatAreLinks{
    text-decoration: underline;
    color: blue;
    text-align: left;
    cursor: pointer;

}
#overlapTable tr {
    height:1.5em;
    min-height:1.5em;
    max-height:1.5em;
}
#overlapTable td {
    padding: 1px 0 0 0;
}
.credibleSetTableGoesHere th.niceHeadersThatAreLinks{
    background: white;
    transform-origin: left;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    max-width: 2px;
    font-weight: normal;
    text-align: left;
}
.credibleSetTableGoesHere th.niceHeadersThatAreLinks.active{
    font-weight: bold;
    color: #9632b8;
}


.hover {
    position:relative;
    top:0px;
    left:0px;
    line-height: 100%;
    display:inline-block;

}
svg.lz-locuszoom .lz-panel-title {
    font-size: 14px;
    font-weight: 600;
}
.tooltip {
    top:-15px;
    width:100px;
    position:absolute;

    background-color:#6b9aff;
    color:white;
    border-radius:5px;
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition:  opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition:  opacity 0.5s;
    transition:  opacity 0.5s;
    line-height: 100%;
}

.hover:hover .tooltip {
    opacity:1;
}
div.geneWindowDescriptionHolder {
    margin: 0 0 15px 0;
}
div.geneWindowDescription{
    font-style: italic;
}
div.credSetWindowSummary{
    font-size: 16px;
    font-weight: bold;
}
div.credibleSetHeader{
    border: 1px solid #cccccc;
    padding: 5px 0 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.credibleSetNameHolder{
    margin-top: 10px;
}
