.present {
    background-color: #555555;
}
.absent {
    background-color: #ffffff;
    border-bottom: solid 1px black !important;
}
span.fakelink {
    font-weight: normal;
    cursor: pointer;
    text-decoration: underline;
    color: #588fd3;
}
th.headersWithVarIds{
    font-weight: normal;
}
th.headersWithVarIds.active {
    font-weight: bold;
}
div.variantIntersectionChoice{
    margin: 0 0 100px 0;
}
td.tissueTable.Active_TSS{
    background: #0000FF;
}
td.tissueTable.Weak_TSS{
    background: #4682B4;
}
td.tissueTable.Genic_enhancer{
    background: #1E90FF;
}
td.tissueTable.Active_enhancer_1{
    background: #87CEFA;
}
td.tissueTable.Active_enhancer_2{
    background: #B0E0E6;
}
td.tissueTable.Weak_enhancer{
    background: #E6E6FA;
}


td.tissueTable.matchingRegion3_0{

}
td.tissueTable.matchingRegion3_1{
    background: #FF0000;/*Active_TSS*/
}
td.tissueTable.matchingRegion3_2{
    background: #FF8C1A;/*Weak_TSS*/
}
td.tissueTable.matchingRegion3_3{
    background: #FF8C1A;/*Flanking_TSS*/
}
td.tissueTable.matchingRegion3_5{
    background: #00E600;/*Strong_transcription*/
}
td.tissueTable.matchingRegion3_6{
    background: #006400;/*Weak_transcription*/
}
td.tissueTable.matchingRegion3_8{
    background: #C2E105;/*Genic_enhancer*/
}
td.tissueTable.matchingRegion3_9{
    background: #FFC34D;/*Active_enhancer_1*/
}
td.tissueTable.matchingRegion3_10{
    background: #FFC34D;/*Active_enhancer_2*/
}
td.tissueTable.matchingRegion3_11{
    background: #FFFF00;/*Weak_enhancer*/
}
td.tissueTable.matchingRegion3_14{
    background: #994D00;/*Bivalent/poised_TSS*/
}
td.tissueTable.matchingRegion3_16{
    background: #808080;/*Repressed_polycomb*/
}
td.tissueTable.matchingRegion3_17{
    background: #C0C0C0;/*Weak_repressed_polycomb*/
}
td.tissueTable.matchingRegion3_18{
    background: #DDDDDD;/*Active_enhancer_2*/
}


/*h3k27ac corresponds to assay ID = 1*/
td.tissueTable.matchingRegion1_5{
    background: #FF0033;
}
td.tissueTable.matchingRegion1_4{
    background: #FF3333;
}
td.tissueTable.matchingRegion1_3{
    background: #FF6633;
}
td.tissueTable.matchingRegion1_2{
    background: #FF9933;
}
td.tissueTable.matchingRegion1_1{
    background: #FFCC33;
}
td.tissueTable.matchingRegion1_0{
    background: #FFFF33;
}

/*DNase corresponds to assay ID = 2*/

td.tissueTable.matchingRegion2_4{
    background: #3333FF;
}
td.tissueTable.matchingRegion2_3{
    background: #3366FF;
}
td.tissueTable.matchingRegion2_2{
    background: #3399FF;
}
td.tissueTable.matchingRegion2_1{
    background: #33CCFF;
}
td.tissueTable.matchingRegion2_0{
    background: #33FFFF;
}

/* ucsd TFBF */

td.tissueTable.matchingRegion5_4{
    background: #11FF33;
}
td.tissueTable.matchingRegion5_3{
    background: #33FF57;
}
td.tissueTable.matchingRegion5_2{
    background: #75FF33;
}
td.tissueTable.matchingRegion5_1{
    background: #DBFF33;
}
td.tissueTable.matchingRegion5_0{
    background: #FFF933;
}

th.niceHeadersThatAreLinks{
    text-decoration: underline;
    color: blue;
    text-align: left;
    cursor: pointer;
}
th.niceHeadersThatAreGeneLinks{
    text-decoration: underline;
    color: blue;
    text-align: left;
    cursor: pointer;
}
#overlapTable tr {
    height:1.5em;
    min-height:1.5em;
    max-height:1.5em;
}
#overlapTable td {
    padding: 1px 0 0 0;
    outline: 0 solid #000;
}
.credibleSetTableGoesHere {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.credibleSetTableGoesHere th.niceHeadersThatAreLinks{
    background: white;
    transform-origin: left;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    max-width: 2px;
    font-weight: normal;
    text-align: left;
}
.credibleSetTableGoesHere th.niceHeadersThatAreGeneLinks{
    background: white;
    transform-origin: left;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    max-width: 2px;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}
.credibleSetTableGoesHere th.niceHeadersThatAreGeneLinks.active{
    font-weight: bold;
    color: #9632b8;
}
.credibleSetTableGoesHere th.niceHeadersThatAreLinks.active{
    font-weight: bold;
    color: #9632b8;
}
.credGeneTableGoesHere {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.credGeneTableGoesHere th.niceHeadersThatAreLinks{
    background: white;
    transform-origin: left;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    max-width: 2px;
    font-weight: normal;
    text-align: left;
}
.credGeneTableGoesHere th.niceHeadersThatAreGeneLinks{
    background: white;
    transform-origin: left;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    max-width: 2px;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}
.credGeneTableGoesHere th.niceHeadersThatAreGeneLinks.active{
    font-weight: bold;
    color: #9632b8;
}
.credGeneTableGoesHere th.niceHeadersThatAreLinks.active{
    font-weight: bold;
    color: #9632b8;
}



.combinedVariantTableHolder {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:rgba(0,0,0,0)
}
.combinedVariantTableHolder th.niceHeadersThatAreLinks{
    background: white;
    transform-origin: left;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    max-width: 2px;
    font-weight: normal;
    text-align: left;
    background:rgba(0,0,0,0)
}
.combinedVariantTableHolder th.niceHeadersThatAreGeneLinks{
    background: white;
    transform-origin: left;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    max-width: 2px;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    background:rgba(0,0,0,0)
}
.combinedVariantTableHolder th.niceHeadersThatAreGeneLinks.active{
    font-weight: bold;
    color: #9632b8;
    background:rgba(0,0,0,0)
}
.combinedVariantTableHolder th.niceHeadersThatAreLinks.active{
    font-weight: bold;
    color: #9632b8;
    background:rgba(0,0,0,0)
}



span.subsidiaryClass{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:120px;
    color:#888888;
}

.hover {
    position:relative;
    top:0px;
    left:0px;
    line-height: 100%;
    display:inline-block;

}
svg.lz-locuszoom .lz-panel-title {
    font-size: 14px;
    font-weight: 600;
}
.tooltip {
    top:-15px;
    width:100px;
    position:absolute;

    background-color:#6b9aff;
    color:white;
    border-radius:5px;
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition:  opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition:  opacity 0.5s;
    transition:  opacity 0.5s;
    line-height: 100%;
}

.hover:hover .tooltip {
    opacity:1;
}
div.geneWindowDescriptionHolder {
    margin: 0 0 15px 0;
}
div.geneWindowDescription{
    font-style: italic;
}
div.credSetWindowSummary{
    font-size: 16px;
    font-weight: bold;
}
div.credibleSetHeader{
    border: 1px solid #cccccc;
    padding: 5px 0 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.credibleSetNameHolder{
    margin-top: 10px;
}
svg.lz-locuszoom .lz-panel-title {
    font-size: 16px;
    font-weight: 500;
}
.nav-tabs
{
    border-color:#1A3E5E;
    width:100%;
}

.nav-tabs > li a {
    border: 1px solid #1A3E5E;
    background-color:#2F71AB;
    color:#fff;
}

.referenceSummaryTable.nav-tabs > li.active > a,
.referenceSummaryTable.nav-tabs > li.active > a:focus,
.referenceSummaryTable.nav-tabs > li.active > a:hover{
    /*background-color:#D6E6F3;*/
    color:#000;
    border: 1px solid #1A3E5E;
    border-bottom-color: transparent;
}

.referenceSummaryTable.nav-tabs > li > a:hover{
    /*background-color: #D6E6F3 !important;*/
    border-radius: 5px;
    color:#000;
    width: 100%;
}

.referenceSummaryTableContent.tab-pane {
    /*border:solid 1px #1A3E5E;*/
    border-top: 0;
    /*background-color:#D6E6F3;*/
    padding:5px;
    width: 100%;
}