html *
{
    font-family: Lato !important;
    font-weight: 100; !important;
}

a.sigma-link {
    color: #406993;
    font-weight: 700;
}

.sigma-about-gradient {
    background-image: linear-gradient(#5F94C9, #275D90);
}

.sigma-contact-gradient {
    background-image: linear-gradient(#275D90, #123250);
}

.sigma-learn-gradient {
    background-image: linear-gradient(#72A43D, #72A43D);
}


.sigma-partners-gradient {
    background-image: linear-gradient(#EC8103, #AA5B02);
}

.sigma-data-gradient {
    background-image: linear-gradient(#00A099, #007D78);
}

.sigma-partners {
    background-image: linear-gradient(#EC8103, #AA5B02);
    height: 70px;
}

.sigma-papers-gradient {
    background-image: linear-gradient(#7A1979, #621046);
}



ul.publication-list {
    list-style: none;
    padding-left: 0;
    padding-bottom: 20px;
}

ul.publication-list li {
    padding-bottom: 20px;
}

.sigma-topic-header {
    padding-left: 50px;
    color:#ffffff;
    font-weight: 300;
    font-size: 3vmin;
    height: 6vh;
    margin:0;
}

.sigma-topic {
    color:#ffffff;
    font-weight: 300;
    font-size: 3vmin;
    height: 6vh;
    margin:0;
}

.sigma-nav h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.language-table * td {
    font-weight: 300;
    font-size: 2vh;
}

.valign {
    float:none; !important;
    display:inline-block; !important;
    vertical-align:middle; !important;
}

.sigma-detail * {
    font-weight: 300;
}

div.sigma-detail {
    padding-top: 20px;
    padding-left: 50px;
}

h4.sigma-data-detail-section-header {
    color:#38867F;
    font-weight: 400;
}

.sigma-hvcenter {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;"
}