html *
{
    font-family: Lato !important;
    font-weight: 100; !important;
}

a.sigma-link {
    color: #406993;
    font-weight: 700;
}

.sigma-about {
    background-image: linear-gradient(#5F94C9, #275D90);
    height: 70px;
}

ul.publication-list {
    list-style: none;
}

ul.publication-list li {
    margin-bottom: 10px;
}

.sigma-topic {
    color:#ffffff;
    font-weight: 300;
}

.sigma-nav h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.sigma-data {
    background-image: linear-gradient(#00A099, #007D78);
    height: 70px;
}

.sigma-papers {
    background-image: linear-gradient(#7A1979, #621046);
    height: 70px;
}

.language-table * td {
    font-weight: 300;
}

.valign {
    float:none; !important;
    display:inline-block; !important;
    vertical-align:middle; !important;
}

.sigma-detail * {
    font-weight: 300;
}

div.sigma-detail {
    padding-top: 20px;padding-left: 50px;
}

h4.sigma-data-detail-section-header {
    color:#38867F;
    font-weight: 400;
}
