div.subtlePanelHeading {
    font-size: 10px;
    color: green;
    font-style: italic;
    font-decoration: none;
}

span.dataSetChoice {
    padding: 0 0 0 10px;
}

.dataSetOptions {
    margin: 0px 20px 0 20px;
}

.addFilterButton {
    background-color: #eee;
}

.smallish input {
    height: 20px;
}
.searchBuilderPrompt {
    font-size: 13pt;
    font-weight: 400;
}
select optgroup {
    background: #444;
    color: #fff;
    font-style: normal;
    font-weight: normal;
}
.variantWF-container {
    font-weight: 400;
}
.variantWF-view {
    font-weight: 400;
}
.primarySectionSeparator {
    margin: 15px 0 15px 0;
}
.searchBuilderIntentionSeparator{
    margin: -20px 0 20px 0;
    color: black;
    font-style: italic;
}
.searchBuilderIntentionBox {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #cdf8ff
}
.variant-filter-button {
    margin: 20px 20px 20px 0;
}
.filterInstructions {
    font-style: italic;
    font-weight: bold;
}
.variantWFdescriptionBox {
    height: 500px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 0px;
}

.variantWFsingleFilter {
    border: 1px solid transparent;
    border-radius: 4px;
}

.developingQueryHolder{
    overflow-y: scroll;
}
.developingQueryComponents {
    margin: 5px 0 5px 0;
    background-color: #CEF6CE;
    border: 1px solid transparent;
    border-radius: 4px;
}
.developingQueryComponentsFilters {
    padding: 10px 0 10px 0;

}
.developingQueryComponentsFilterTitle {
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0px auto 0 5px;
}
.developingQueryComponentsFilterIcons {
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 4px 10px 0 auto;
}
.developingQueryComponentsBlockOfFilters {
    margin: 20px;
    padding: 0;
    margin-bottom: 25px;
    width: 95%;
}
.filterActivator  {
}
.filterAdder {
    display:none;
}
.filterRefiner {
    padding-top: 13px;
}
.filterElement {
    padding: 0 0 0 10px;
}
