
.variantWF-container {
    font-weight: 400;
}
.variantWF-view {
    font-weight: 400;
}
.primarySectionSeparator {
    margin: 15px 0 15px 0;
}
.variant-filter-button {
    margin: 20px 20px 20px 0;
}
.filterInstructions {
    font-style: italic;
    font-weight: bold;
}
.variantWFdescriptionBox {
    height: 500px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 15px;
}
