/* sorting_asc/desc/1 are classes applied by datatables to the column that is being sorted on  */
th.sorting_asc, th.sorting_desc {
    background-color: #84e171;
    color: black;
}
td.sorting_1 {
    background-color: #ddf7d7 !important;
}

/* override the default styling of the buttons div */
div.dt-buttons {
    float: right;
}

.modal-body {
    /* we have a lot of datasets, so make the modal fit in the screen
       and add scrolling */
    max-height: 80vh;
    overflow-y: scroll;
}

#propertiesModal .modal-dialog {
    /* this is all to override the default bootstrap sizing */
    width: auto;
    min-width: 600px;
    max-width: 90%;
}

