
.variantWF-container {
    font-weight: 400;
}
.variantWF-view {
    font-weight: 400;
}
.primarySectionSeparator {
    margin: 15px 0 15px 0;
}
.variant-filter-button {
    margin: 20px 20px 20px 0;
}
.filterInstructions {
    font-style: italic;
    font-weight: bold;
}
.variantWFdescriptionBox {
    height: 500px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 0px;
}

.variantWFsingleFilter {
    border: 1px solid transparent;
    border-radius: 4px;
}

.developingQueryHolder{
    overflow-y: scroll;
}
.developingQueryComponents {
    margin: 5px 0 5px 0;
    background-color: #CEF6CE;
    border: 1px solid transparent;
    border-radius: 4px;
}
.developingQueryComponentsFilters {
    padding: 10px 0 10px 0;

}
.developingQueryComponentsFilterTitle {
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0px auto 0 5px;
}
.developingQueryComponentsFilterIcons {
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 4px 10px 0 auto;
}
.developingQueryComponentsBlockOfFilters {
    margin: 20px;
    padding: 0;
    margin-bottom: 25px;
    width: 95%;
}
.filterActivator  {
}
.filterAdder {
    display:none;
}
.filterRefiner {
    padding-top: 13px;
}
.filterElement {
    padding: 0 8px 0 3px;
}
